<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProject2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>servlets.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upGradeServlet</display-name>
    <servlet-name>upGradeServlet</servlet-name>
    <servlet-class>servlets.upGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upGradeServlet</servlet-name>
    <url-pattern>/upGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFriends</display-name>
    <servlet-name>GetFriends</servlet-name>
    <servlet-class>servlets.GetFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFriends</servlet-name>
    <url-pattern>/GetFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStranger</display-name>
    <servlet-name>GetStranger</servlet-name>
    <servlet-class>servlets.GetStranger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStranger</servlet-name>
    <url-pattern>/GetStranger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPersion</display-name>
    <servlet-name>AddPersion</servlet-name>
    <servlet-class>servlets.AddPersion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPersion</servlet-name>
    <url-pattern>/AddPersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroup</display-name>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>servlets.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManFri</display-name>
    <servlet-name>ManFri</servlet-name>
    <servlet-class>servlets.ManFri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManFri</servlet-name>
    <url-pattern>/ManFri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsManage</display-name>
    <servlet-name>FriendsManage</servlet-name>
    <servlet-class>servlets.FriendsManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsManage</servlet-name>
    <url-pattern>/FriendsManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriends</display-name>
    <servlet-name>DeleteFriends</servlet-name>
    <servlet-class>servlets.DeleteFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriends</servlet-name>
    <url-pattern>/DeleteFriends</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetAllFriend</display-name>
    <servlet-name>GetAllFriend</servlet-name>
    <servlet-class>servlets.GetAllFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFriend</servlet-name>
    <url-pattern>/GetAllFriend</url-pattern>
  </servlet-mapping>
 
 
  
    <servlet>
    <description></description>
    <display-name>SaveContentServlet</display-name>
    <servlet-name>SaveContentServlet</servlet-name>
    <servlet-class>servlets.SaveContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveContentServlet</servlet-name>
    <url-pattern>/SaveContentServlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>ShowHistoryServlet</display-name>
    <servlet-name>ShowHistoryServlet</servlet-name>
    <servlet-class>servlets.ShowHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHistoryServlet</servlet-name>
    <url-pattern>/ShowHistoryServlet</url-pattern>
  </servlet-mapping>
  
</web-app>